﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<CountryViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>List of all countries...</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                        </td>
                        </tr>
                    }
</tbody>
@*lh/beers.details/id*@
</table>
