﻿<!DOCTYPE html>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beers.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        body {
            background-image: url(./images/wall.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Top Beer Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Beers</a>
                        <div class="dropdown-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Beers" asp-action="CreateBeer">Create</a>
                            }
                            <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Beers" asp-action="Index">List All</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Countries</a>
                        <div class="dropdown-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Create">Create</a>
                            }
                            <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Index">List All</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Breweries</a>
                        <div class="dropdown-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Breweries" asp-action="Create">Create</a>
                            }
                            <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Breweries" asp-action="Index">List All</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Styles</a>
                        <div class="dropdown-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="BeerStyles" asp-action="Create">Create</a>
                            }
                            <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="BeerStyles" asp-action="Index">List All</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">List All</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
}
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reviews</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Create">Create</a>
                                <a class="dropdown-item"> </a><a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">List All</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
}
                </ul>
                    <partial name="_LoginPartial" />
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TopBeerShop.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
