﻿@model  BeerViewModel

<div class="col-md-4">
    <img class="align-content-between d-block w-50" img src="~/images/beerIcon.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.BeerName</h5>
        <p class="card-text">@Model.ABV</p>
        <p class="card-text">@Model.Price</p>
        <a asp-area="" asp-controller="Beers" asp-action="Details" asp-route-id="@Model.BeerId" class="btn btn-primary">Find out more</a>
    </div>
</div>
