﻿@model BreweryViewModel

<div class="col-md-4">
    <img class="align-content-between d-block w-50" img src="~/images/breweries.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.CountryName</p>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model.Website</p>
        <a asp-area="" asp-controller="Breweries" asp-action="Details" asp-route-id="@Model.BreweryId" class="btn btn-primary">Find out more</a>
    </div>
</div>
