﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<BreweryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all Breweries</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-action="Edit" asp-route-id="@item.BreweryId">Edit</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.BreweryId">Details</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-action="Delete" asp-route-id = "@item.BreweryId">Delete</a>
                        }
                            </td>
                            </tr>
                        }
</tbody>
    </table>
