﻿@model ReviewViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disliked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disliked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flagged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flagged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReviewId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
