﻿@model ReviewViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disliked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disliked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flagged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flagged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
