﻿@model BeerViewModel
  
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BeerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BeerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ABV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ABV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.BeerId">Edit</a>
    }
        <a asp-action="Index">Back to List</a>
    </div>
