﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model PaginatedList<BeerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of all beers..</h1>
@*asp-controller="Beers" asp-action="CreateBeer"*@
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-controller="Beers" asp-action="CreateBeer">Create New</a>
    </p>
}
    <form asp-action="Index" method="get">
        <div class="form-inline my-2 my-lg-0">
            <p>
                Find by name: <input type="text" placeholder="Enter beer name" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input mr-sm-2" type="submit" value="Search" class="form-control mr-sm-2" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Beer Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ABVSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Percentage of Alcohol</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BeerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ABV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BeerId">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.BeerId">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Delete" asp-route-id="@item.BeerId">Delete</a>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
