﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-25" src="./images/4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-25" src="./images/carousel2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-25" src="./images/carousel3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    
</div>
<div class="text-lg-center">
    <h1 class="shadow-lg">Welcome</h1>
    <p>Learn about our Top ABV Beers!</p>
        <audio src="/music/cantbetouched.mp3" controls="controls" class="justify-content-center">
            <p>Fallback content goes here.</p>
        </audio>
</div>

<div class="container">
    <div class="row">
        @if (Model.TopRatedBeers.Count == 0)
        {
            <p class="alert alert-info">No beers found. Try again later!</p>
        }
        else
        {
            @foreach (var beer in Model.TopRatedBeers)
            {
                <partial name="_SigleBeerPartial" model="beer" />
            }

        }
        
    </div>
</div>
<div class="container">
    <div class="row">
        @if (Model.TopRatedBreweries.Count == 0)
        {
            <p class="alert alert-info">No Breweries found. Try again later!</p>
        }
        else
        {
            @foreach (var brewery in Model.TopRatedBreweries)
            {
                <partial name="_SingleBreweryPartial" model="brewery" />
            }
        }
    </div>
</div>


