﻿@model List<HomeIndexViewModel>
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

<h1>Top Breweries!</h1>

@foreach (var item in Model)
{
    <p>@item.TopRatedBreweries</p>
    <p>@item.TopRatedBreweries</p>
    <p>@item.TopRatedBreweries</p>
}